.logementWrapper {
    color: #FF6060;
    font-style: normal;
    font-family: 'Montserrat';
    .logementTitle {
        font-weight: 500;
        font-size: 36px;
    }
    .logementLocation {
        font-weight: 500;
        font-size: 18px;
    }
    .logementTags {
        display: flex;
        .tag {
            background-color: #FF6060;
            color: white;
            border-radius: 20px;
            margin: 5px;
            padding: 5px 30px 5px 30px;
            width: auto;
            list-style-type: none;
        }
    }
}