.logementWrapper {
    color: #FF6060;
    font-style: normal;
    font-family: 'Montserrat';
    .ratingWrapper {
        display: flex;
        justify-content: flex-end;
        width: 90%;
        @media (max-width: 860px) {
            justify-content: flex-start;
            width: auto;
        }
    }
    .test {
        margin: auto;
        width: 80%;
        display: flex;
        justify-content: space-between;
        @media (max-width: 860px) {
            display: flex;
            flex-wrap: wrap;
        }
        .hostWrapper {
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
            margin-top: 25px;
            width: 100%;
            @media (max-width: 860px) {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
            }
            .hostPict {
                border-radius: 50%;
                height: 100px;
                @media (max-width: 860px) {
                    height: 50px;
                    
                }
            }
            .logementHost {
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                
                margin-right: 25px;
                @media (max-width: 860px) {
                    display: flex;
                    justify-content: flex-end;
                    padding: 0;
                    align-items: center;
                    font-size: 10px;
                }
            }
        }
        
        .logementTitle {
            margin-top: 30px;
            font-weight: 500;
            font-size: 36px;
        }
        .logementLocation {
            font-weight: 500;
            font-size: 18px;
        }
        .logementTags {
            display: flex;
            padding: 0;
            @media (max-width: 860px) {
                display: flex;
                flex-wrap: wrap;
            
            }
            .tag {
                background-color: #FF6060;
                color: white;
                border-radius: 20px;
                margin: 5px;
                padding: 5px 30px 5px 30px;
                width: auto;
                list-style-type: none;
                @media (max-width: 860px) {
                    font-size: 12px;
                }
            }
        }
    }
    .cardCollapseWrapper {
        
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        @media (max-width: 860px) {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;
        }
        .item {
            width: 400px;
            display: inline-block;
            vertical-align: top;
            margin-top: 20px;
        }
    }
}