.cardWrapper {
    border-radius: 25px;
    padding-left: 0;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    width: 80%;
    height: auto;
    background-color: #F7F7F7;
    @media (max-width: 500px) {
        background-color: #FFFF;
        
    }
}