* {
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
}

.wrapper {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100vw;
    align-items: center;
    .accordion {
        width: 80%;
    }
}
.item {
    background: #FF6060;
    margin-bottom: 2.5%;
    padding: 0px 0px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    
    .title {
        padding-left: 15px;
        color: #FFFFFF;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        height: 50px;
    }
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #FF6060;
    background: #F6F6F6;
    @media (max-width: 860px) {
        font-size: 14px;
    }
}
.contentText {
    padding: 2.5%;
}
.content.show {
    height: auto;
    max-height: 800px;
    transition: max-height 0.5s ease-in;
    
}
.logoCollapse {
    margin-right: 20px;
    font-size: 50px;
    transform-origin: center;
    transition-duration: 0.5s;
    vertical-align: middle;
}
.rotated {
    transform: rotate(180deg);
}