.card {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-color: red;
    width: 300px;
    height: 300px;
    margin: 20px;
    padding: 50px;
    border-radius: 10px;
    .cardTitle{
        font-size: 14px;
        color: white;
    }
    .cardImg{
        width: 300px;
        height: 300px;
    }
}