.footer {
    background-color: black;
    color: white;
    height: 210px;
    .logoFooter{
        height: 50px;
        position: fixed;
    }
}

.footerTitle {

    display: flex;
    justify-content: center;
    font-size: 50px;
    padding-top: 50px;
}

.footerPlus {
    display: flex;
    justify-content: center;
}