.container {
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 75px;
    .centered {
        font-weight: 500;
        font-size: 48px;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.backgroundImg {
    width: 80%;
    height: 260px;
    border-radius: 25px;
    object-fit: cover;
}
